  
{% extends "/common.html" %}

{% block title%}
Error 500 - Internal Server Error
{% endblock %}

{% block content %}

<div class="jumbotron text-center text-light" style="background-image: url(https://images.wallpaperscraft.com/image/ocean_waves_aerial_view_141555_1920x1080.jpg); background-size: 100%">
    <div class="container text-center">
        <h1> Error 500: Internal Server Error</h1>

        {% for y in get_flashed_messages() %}
        <h5 class="text-light font-weight-bold" >{{y}}</h5>
        {% endfor %}
    </div>
</div>

{% endblock %}