{% extends "/common.html" %}

{% block content %}
<div class="jumbotron text-center text-light" style="background-image: url(https://images.wallpaperscraft.com/image/ocean_waves_aerial_view_141555_1920x1080.jpg); background-size: 100%">
    <div class="container text-center">
        <h1> Home </h1>

        {% for y in get_flashed_messages() %}
        <h5 class="text-light font-weight-bold" >{{y}}</h5>
        {% endfor %}
    </div>
    <div class="container text-center">

        <h4 class="font-weight-light">Welcome, {{ session['login'] }}</h4>

    </div>
</div>
<div class="container" id="data">
    <div>
        <form method="POST">
            <input type="text" name="title" class="form-control my-2" placeholder="Title" required>
            <input type="text" name="post" class="form-control my-2" placeholder="Description" required>
            <input type="text" name="picture" class="form-control my-2" placeholder="Picture URL">
            <input type="submit" class="btn btn-primary text-center mb-2">

        </form>
    </div>
    <div class="row row-cols-3 justify-content-around">
        {% for post in y %}


        <div class = 'col'>
            <div class="card">
                <img class="card-img-top" src="{{ post['picture'] }}" alt="Card image cap">

                <div class="card-body">
                    <h1 class="card-title">{{ post['title'] }}</h1>
                    <h5 class="card-text">{{ post['post'] }}</h5>
                    <p class="card-text font-weight-light">Posted By {{ post['email'] }}</p>
                </div>
            </div>
        </div>


        {% else %}

        <h1>No Posts Found</h1>

        {% endfor %}

    </div>

</div>
{% endblock %}