{% extends "/common.html" %}

{% block title%}
Login
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1> Login </h1>
        <h5>Don't Have an Account? Click <a href="/register">here</a></h5>
        {% for y in get_flashed_messages() %}
        <h5><code>{{y}}</code></h5>
        {% endfor %}
    </div>
</div>
<div class="container">
    <form method="POST">
        <div class="row">
            <div class="col-md-4 offset-4">
                <input type="email" placeholder="Email" name="email" class="form-control co">
                <input type="password" placeholder="Password" name="password" class="form-control">
                <input type="submit" placeholder="Register User" name="submit" class="btn btn-primary text-center" >
            </div>
        </div>
    </form>
</div>

{% endblock %}