{% extends "/common.html" %}

{% block title%}
Messages
{% endblock %}

{% block pageHeader %} Messages {% endblock %}

{% block content %}

<!--<div class="jumbotron text-center text-light" style="background-image: url(https://images.wallpaperscraft.com/image/ocean_waves_aerial_view_141555_1920x1080.jpg); background-size: 100%">-->
<!--    <div class="container text-center">-->
<!--        <h1> Messages </h1>-->

<!--        {% for y in get_flashed_messages() %}-->
<!--        <h5 class="text-light font-weight-bold" >{{y}}</h5>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="col-md-6  ">
            {% for x in inbox %}
            <div class="card shadow bg-dark text-light my-5">
                <div class="card-header">
                    <h3 class="font-weight-bold"> {{ x['title'] }}</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="font-weight-normal">{{ x['content'] }}</p>
                        <p class="font-weight-light"> - {{ x['from'] }}</p>
                    </div>
                </div>

            </div>




            {% else %}

            <h1 class="text-light text-center mt-5">Inbox Empty</h1>

            {% endfor %}
        </div>
        <div class="col-md-6">
            <form method="POST">
                <div class="form-group">
                    <h3 class="text-light mt-5">To:</h3>
                    <input class="form-control btn-outline-light text-light bg-dark" type="email" placeholder="john@gmail.com" name="to">
                </div>
                <div class="form-group">
                    <h3 class="text-light">Subject:</h3>
                    <input class="form-control btn-outline-light text-light bg-dark" type="text" placeholder="Type Here..." name="title">
                </div>
                <div class="form-group">
                    <h3 class="text-light">Content:</h3>
                    <input class="form-control btn-outline-light text-light bg-dark" type="text" placeholder="Type Here..." name="content">
                </div>
                <input class="form-control btn btn-outline-success" type="submit" name="Send">
            </form>
        </div>
    </div>

</div>
{% endblock %}