{% extends "/common.html" %}

{% block title %}
My Profile
{% endblock %}
{% block pageHeader %} My Profile {% endblock %}
{% block content %}


<div class="container">
    <form method="POST">

        <table class="table table-dark table-curved mt-4 table-striped shadow">
            <tr>
                <td>
                    <h5> Email </h5>
                </td>
                <td>
                    <h5 class="font-weight-light">{{y['email']}}</h5>
                </td>
            </tr>
            <tr>
                <td><h5> First Name </h5></td>
                <td><input type="text" class="form-control" name="fname" value="{{y['fname']}}"></td>
            </tr>
            <tr>
                <td><h5> Last Name </h5></td>
                <td><input type="text" class="form-control" name="lname" value="{{y['lname']}}"></td>
            </tr>
            <tr>
                <td>
                    <h5>Password</h5>
                </td>
                <td>
                    <input class="form-control" type="password" name="password" value="{{y['password']}}">
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Update All Information</h5>
                </td>
                <td>
                    <input type="submit" class="btn btn-outline-success">
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Posts</h5>
                </td>
                <td class="text-light">
                    {% for post in postData %}

                        <div class="card bg-dark shadow my-3" style="width: 18rem;">
                            <img class="card-img-top" src="{{ post['picture'] }}" alt="Card image cap">

                            <div class="card-body">
                                <h1 class="card-title">{{ post['title'] }}</h1>
                                <h5 class="card-text">{{ post['post'] }}</h5>
                                <p class="card-text font-weight-light">Posted By {{ post['email'] }}</p>
                                <a href="/deletepost{{post['_id']}}" class="btn btn-outline-danger btn-block">Delete Post</a>
                            </div>
                        </div>


                    {% else %}
                    <h1>No Posts Found</h1>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </form>
</div>


{% endblock %}