{% extends "/common.html" %}

{% block title%}
Search
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            {% for x in y %}

            <h4 class="font-highlight-bold"> Name: {{ x['fname'] }} {{ x['lname'] }} </h4>
            <h5 class="font-highlight-light"> Email: {{ x['email'] }} </h5>
            {% if x['email'] not in xy['following'] %}

            <a class="btn btn-outline-success" href="/follow{{x['_id']}}">Follow</a>

            {% else %}
            <a class="btn btn-outline-danger" href="/unfollow{{x['_id']}}">Unfollow</a>
            {% endif %}
            {% else %}
            <h4 class="font-highlight-bold text-center">No Users Found</h4>

            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}